logicapp
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "iseResourceGroupName": {
      "type": "string",
      "defaultValue": "pplz-amworkop-rg-q",
      "metadata": {
        "description": "Optional name of the resource group for the existing app service plan. If creating a new plan, leave as the default value"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "dependsOn": [
        "[resourceId(parameters('iseResourceGroupName')]"
      ],
      "integrationServiceEnvironment": {
        "name": "US-QC-ISE",
        "id": "/subscriptions/XXXXXXXX/XXXXXXXXX/Microsoft.Logic/integrationServiceEnvironments/US-QC-ISE",
        "type": "Microsoft.Logic/integrationServiceEnvironments"
      },
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "CallbackURL_Check_": {
              "type": "If",
              "expression": "@not(empty(triggerBody()?['argCallbackURL']))",
              "actions": {
                "HTTP": {
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "@{triggerBody()?['argDocumentBaseURL']}@{triggerBody()?['argCallbackURL']}",
                    "headers": {
                      "Content-Type": "application/json"
                    },
                    "body": {
                      "approvalType": "@{triggerBody()?['argApprovalType']}"
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {}
            },
            "Response": {
              "type": "Response",
              "inputs": {
                "statusCode": 202
              },
              "runAfter": {}
            }
          },
          "parameters": {},
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "properties": {
                    "argApprovalType": {
                      "type": "string"
                    },
                    "argCallbackURL": {
                      "type": "string"
                    },
                    "argContactCode": {
                      "type": "string"
                    },
                    "argDocTypeId": {
                      "type": "string"
                    },
                    "argDocumentCode": {
                      "type": "string"
                    },
                    "argDocumentStatus": {
                      "type": "string"
                    },
                    "argEventName": {
                      "type": "string"
                    },
                    "argServiceBusUrl": {
                      "type": "string"
                    },
                    "argUserExecutionContext": {
                      "type": "string"
                    },
                    "argUserStatus": {
                      "type": "string"
                    },
                    "argAdditionalText": {
                      "type": "string"
                    },
                    "argHierarchyIds": {
                      "type": "array"
                    },
                    "argDocumentBaseURL": {
                      "type": "string"
                    },
                    "argDeploymentRegionId": {
                      "type": "string"
                    },
                    "argDocumentBaseURLAuthKey": {
                      "type": "string"
                    },
                    "BuyerPartnerCode": {
                      "type": "string"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {}
      }
    }
  ],
  "outputs": {}
}
